#nav-splash-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* height: 70px; */
}

.splash {
    height: calc(100vh - 70px);
    overflow-y: scroll;    
}

.login-btn {
    align-self: center;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5.5px;
    text-decoration: none;
    background-color: white;
    width: 60px;
    justify-content: center;
    display: inline-flex;
    margin-right: 25px;
}