.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  // background: linear-gradient(180deg, rgb(255, 246, 231), rgb(214, 211, 207));
  // border: 1px solid red;

  // background-image: url(../../components/images/background.png);
  // background-size: cover;
  width: 100%;
}

@media (min-width: 576px) { 
  .splash-container {
    max-width: 576px;
  }
}

@media (min-width:768px) {
  .splash-container {
    max-width: 768px;
  }
}
@media (min-width:992px) {
  .splash-container  {
    max-width: 992px;
  }
}
@media (min-width:1200px) {
  .splash-container {
    max-width: 1200px;
  }
}

.splash-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

// TOP
.splash-top-content {
  display: flex;
  min-width: auto;
  width: 100%;
  min-height: auto;
  // margin-bottom: 505px;
}

// Splash Top Body
.splash-top-context {
  // border-radius: 3px;
  position: relative;
  // word-break: break-word; 
  top: 120px;
  left: -300px;
  // min-width: 40%;
  text-align: left;

  
  
  h1 {
    color: rgb(245, 245, 245);
    font-size: 70px;
    font-weight: bold;
    width: fit-content;
    text-shadow: 8px 6px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
  }

  p:nth-child(2) {
    font-weight: bold;
    color: rgba(248, 248, 248, 0.979);
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 6px 6px 3px black;
    border-radius: 5px;
    padding: 5px;
    background-color: #007cc3d3;
    width: fit-content;
  }

  p:nth-child(3) {
    font-weight: bold;
    color: rgba(248, 248, 248, 0.979);
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 6px 6px 3px black;
    border-radius: 5px;
    padding: 5px;
  background-color: #41b3f5b6;
    width: fit-content;
  }

  p:nth-child(4) {
    font-weight: bold;
    color: rgba(248, 248, 248, 0.979);
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 6px 6px 3px black;
    border-radius: 5px;
    padding: 5px;
    background-color: #007cc3d3;
    width: fit-content;
  }

}

// Splash image Transition
#splash-img-container  {
  display: flex;
  justify-content: center;
  position:relative;
  // border: 1px solid red;
  height: 900px;
  width: 100%;
}

#splash-img-container > img {
  display:block;
  clear:both;
  position:absolute;
  height: 100%;
  width: 100vw;
  z-index: 0;
  
}

@-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#splash-img-container > img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
#splash-img-container >  img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#splash-img-container > img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#splash-img-container > img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#splash-img-container > img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

.splash-top-context > h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 0.918); }
}

.splash-top-link1 {
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  position: relative;
  background-color: #4ebaf8;

  
  a {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;
    transition: 0.3s;
  }
  a:hover {
    color: black;
    cursor: pointer;
  }
}

.splash-top-link2 {
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  position: relative;
  background-color: #007cc3;

  
  a {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;
    transition: 0.3s;
  }
  a:hover {
    color: black;
    cursor: pointer;
  }
}

// CENTER
.splash-middle-content {
  // border: 1px solid green;
  // margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splash-middle-1 {
  // float:left;
  text-align: left;
  // border: 1px solid red;
  // margin-bottom: 50px;
  display: inline;


  div {
    width: 600px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 80px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    background: linear-gradient(rgba(40, 169, 255, 0.815), white);
  }

  div > h2 {
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-shadow: -6px 6px 1px rgb(121, 121, 121);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
  }

  div {
    p:nth-child(2){
      font-weight: bold;
      color: black;
      font-size: 24px;
      font-family: 'Courier New', Courier, monospace;
      margin-bottom: 40px;
      border-radius: 8px;
      padding: 3px;
      // background-color: rgba(173, 216, 72, 0.973);
      width: fit-content;
    }

    p:nth-child(3){
      font-weight: bold;
      color: black;
      font-size: 24px;
      font-family: 'Courier New', Courier, monospace;
      margin-bottom: 40px;
      border-radius: 8px;
      padding: 5px;
      // background: rgb(252, 190, 110);
      width: fit-content;
    }
  }

  img {
    width: 500px;
    height: 350px;
    box-shadow: 4px 10px 10px #888888;
    // float: right;
  }

  div > a {
    border-radius: 10px;
    border: 3px solid black;
    padding: 15px;
    background: #007cc3;
    text-decoration: none;
    color: white;
    font-size: 30px;
    display:block;
    text-align: center;
    padding-right: 50px;
    // margin: 160px;
    font-weight: bold;
    transition: 0.3s;
  }

  div > a:hover {
    color: black;
    cursor: pointer;
    background: #4598c9;
    // text-decoration: underline;
  }
}

#splash-middle-2 {
  text-align: right;
  // border: 1px solid red;
  // position: relative;
  text-align: center;
  margin-bottom: 100px;

  div {
    float: right;
    width: 650px;
    position: relative;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    background: linear-gradient(rgba(40, 169, 255, 0.815), white);
    margin-left: 30px;
  }
  div > h2 {
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-shadow: -6px 6px 1px rgb(121, 121, 121);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
  }

  div > p {
    font-weight: bold;
    color: black;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    padding: 3px;
    width: fit-content;
  }

  img {
    width: 400px;
    height: 450px;
    // float: left;
  }
}


// //bottom
// .splash-bottom-content {
//   // border: 1px solid purple;
//   // margin-bottom: 300px;
//   display: flex;
//   flex-direction: column;
//   background: linear-gradient(360deg, rgba(255, 195, 85, 0.733),rgba(255, 255, 255, 0.705));
//   width: 100%;
// }

// #splash-footer-links{
//   a {
//   margin-right: 20px;
//   display: inline;
//   justify-content: center;
//   font-size: 20px;
//   text-decoration: none;
//   font-weight: bold;
//   color: black;
//   }
//   a:hover {
//     text-decoration: underline;
//     color: rgb(255, 201, 53);
//   }
// }