.event-container {
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 75px;
  margin-left: 0px;
  margin-right: 0px;
  background: rgb(236, 236, 236);
  display:flex;
  // width: fit-content;
  justify-content:space-between;
}

.event-title {
  padding-bottom: 20px;
  text-align: start;
  h1 {
    font-size: 40px;
    color:black;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
    text-align: start;
  }

  h2 {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    color:rgb(114, 114, 114);
    font-weight: normal;
  }
}

.event-location {
  display: inline;

  div {
    display: block;
    margin: 0px;
    // border: 1px solid blue;
    text-align: left;
    font-weight: bold;
    width: 70%;
    margin-bottom: 10px;
  }
  

  #event-location-div1 {
    font-size: 20px;
    padding: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: green;
    padding-right: 20px;
    p {
      display: inline;
      font-weight: normal;
      color: rgb(255, 255, 255);
      text-transform: capitalize;
    }
  }

  #event-location-div2 {
    font-size: 20px;
    padding: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: red;
    padding-right: 20px;
    p {
      display: inline;
      font-weight: normal;
      color: rgb(255, 255, 255);
      text-transform: capitalize;
    }
  }
}

.event-desc {
  display: flex;
  align-items: left;
  justify-content: left;
  div {
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
    background: rgb(255, 255, 255);
  }

  #event-desc-div1 {
    p:nth-child(1) {
      font-weight: bold;
      margin-top: 0px;
      text-align: center;
    }
    p:nth-child(2) {
      font-weight: normal;
    }
  }

  #event-desc-div2 {
    font-weight: bold;
    p {
      font-weight: normal;
    }
  }

  #event-desc-div3 {
    font-weight: bold;
    p {
      font-weight: normal;
    }
  }
} 

.event-join {
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  transition-duration: 0.2s;
  display: flex;
  align-items: left;
  font-weight: bold;
}

.event-join:hover {
  background: green;
  color:black;
}

.event-leave {
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  transition-duration: 0.2s;
  display: flex;
  align-items: left;
  font-weight: bold;

}

.event-leave:hover {
  background: red;
  color:black;
}


.event-delete {
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background: red;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  transition-duration: 0.2s;
  display: flex;
  align-items: left;
  font-weight: bold;

}


.event-delete:hover {
  background: black;
  color:white;
}

#show-page-btn{
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background: black;
  text-transform: uppercase;
  font-size: 20px;
  transition-duration: 0.2s;
  display: flex;
  align-items: left;
  font-weight: bold;
  a {
    text-decoration: none;
    color: white;
  }
}

#show-page-btn:hover {
  background: rgb(32, 235, 235);
  a {
    color: black;
  }
}

.event-div-container {
  float: left;
}

.event-map {
  float: right;
  margin-left: 20px;
}

#map-container {
  margin-left: -10px;
}

#map-height-ele {
  margin: 0px;
}

.map-miles {
  border-radius: 10px;
  font-size: 25px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
}

.map-hours {
  border-radius: 10px;
  font-size: 25px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
}

#btn-for-ride button {
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right: 30px;
}

#btn-for-ride button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
#btn-for-ride:after {
  content: "";
  clear: both;
  display: table;
}