.ride-index-container {
  background-image: url(../../components/images/rideBG.png);
  // background-size: cover;
  background-repeat: repeat;
}

.index-feed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.index-head {
  font-size: 50px;
  width: 100%;
  margin-top: 0px;
  color: #007cc3;
  border-bottom: 3px solid black;
  background: white;
}