.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #EFEFEF;
} 

#splash-footer-links > a {
  margin-right: 20px;
  display: inline;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}


#splash-footer-links > a:hover {
    text-decoration: underline;
    color: rgb(255, 201, 53);
}

#footer-logo {
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: 1px solid gray;
    border-radius: 5.5px;
    text-decoration: none;
}

#footer-logo:hover {
    border: 1px solid rgb(255, 201, 53);
    color: rgb(255, 201, 53);
}

.footer > h2 {
    margin: 10px;
    margin-bottom: -2px;
}

#footer-background {
  background-image: url(../../components/images/rideBG.png);
  /* background-size: contain; */
  background-repeat: repeat;
}