.show-ride-main{
  margin-top: 80px;
  display: inline-block;
}
// .show-ride-map{
  //   width: 40%;
  //   margin-left: 50%;
  // }
  
  .show-ride-list{
    // display: inline-block;
    // margin-top: 80px;
    // justify-content: flex-start;
    border: 1px solid black;
    background-color: #f3f3f3;
    // width: 40%;
    border-radius: 10px;
    margin: 40px 10% 40px 10%;
    transform: translate(0px, -200px)

}
.show-ride-map{
  // display: inline-block;
  justify-content: flex-end;

}
h1{
  text-align: center;
}
