.show-ride-main{
  margin-top: 80px;
  font-size: large;
  font-weight: 500;
}
.show-ride-map{
    justify-content: flex-end;
    margin-left: auto;
    
  }
  
.show-ride-list{
    display: flex;
    // justify-content: space-around;
    border-radius: 10px;
    margin: 40px ;
}

.show-ride-list .show-ride-list-ul li{
  margin-top: 5px;
}
.show-ride-list .show-ride-list-ul ul:last-child{
  margin-top: 50px;
}
.show-ride-list .show-ride-list-ul ul:first-child li:nth-child(3){
  background-color: green;
  width: fit-content;
}
.show-ride-list .show-ride-list-ul ul:first-child li:nth-child(4){
  background-color: red;
  width: fit-content;
}
span{
  color: white;
}
p{
  text-align: center;
  margin-bottom: 40px;
}
.show-ride-map{
z-index: 0;
border-radius: 10px;

}
h1{
  text-align: center;
}

.show-ride-list-ul{
      border: 1px solid black;
      border-radius: 10px;
      width: -webkit-fill-available;
      height: 470px;
      overflow: scroll;
      background-color: #f3f3f3;
}



