.create-ride-form{
  // display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  justify-content: center;
  margin: 40px auto;
}
.create-ride-form form{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.create-ride-form input{
  width: 300px;
  height: 45px;
  margin-left: 20px;
  margin-top: 20px;
}


.create-ride-form select {
  width: 300px;
  height: 45px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  margin-right: 80px;
  font-size: medium;
}

.create-ride-form form button{
  width: 300px;
  height: 45px;
  margin-top: 20px;
  background-color: #027cc2;
  color: white;
  font-size: inherit;
  border: 1px solid #027cc2;
  border-radius: 7.5px;
  font-weight: 500;

}

.create-ride-form .fifth-input{
  margin-right: 210px;

}
.create-ride-form .fourth-input{
  margin-right: 175px;

}
.create-ride-form .third-input{
  margin-right: 115px;

}
.create-ride-form .second-input{
  margin-right: 150px;

}
.create-ride-form .first-input{
  margin-right: 65px;

}
