.show-ride-main{
  margin-top: 80px;

}

.show-ride-list{
  display: flex;
  // margin-top: 80px;
  justify-content: center;
  border: 1px solid black;
  background-color: #f3f3f3;
  margin: 40px 10% 40px 10%;
  width: 80%;
  border-radius: 10px;

}
// .show-ride-map{
//   display: flex;
//   justify-content: space-around;
// }
h1{
  text-align: center;
}
