.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 425px;
    height: 450px;
}

.edit-form h2 {
    margin-bottom: 5px;
}

.edit-form input {
    width: 300px;
    height: 60px;
    text-indent: 10px;
    font-size: 17px;
}

#edit-submit {
    background-color: #007cc3;
    width: 310px;
    border: 1px solid #007cc3;
    border-radius: 4px;
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-additional-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-additional-info li  {
    margin: 8px;
    /* margin-left: 15px; */
}

.social-media-link:active {
    color: blue;
    text-align: center;
}

.user-rides-number {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px;
}

.edit-button {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border: solid 1px red;
    border-radius: 3.5px;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 130px;
    text-decoration: none;
    font-size: 18px;

}
